# Application Environment
.env
.env.*
!.env.example

# Composer dependencies
/vendor/
composer.phar

# Logs
*.log
logs/

# macOS / System
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary / Cache
/tmp/
/cache/
